* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}
header > *, footer > *, body > section > * {
    padding: 0;
    margin-left: 2rem;
    margin-right: 2rem;
}
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
h3 {
    font-size: 1.5rem;
}

/* Header */
.ontop {
display: flex;
}
.logo{
    width: 100%;
    margin: 0;
    padding-top: 1rem;
}
.nav {
    display: flex;
}
.nav div {
    padding: 1rem;
    text-align: center;
}
.nav div:hover {
    color: #0065FC;
    border-color: #0065FC;
}
.sign, .sign a:visited {
    width: fit-content;
    padding: 1rem;
    padding-top: 2rem;
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    border-top: #f2f2f2 solid 2px;
}
.sign:hover, .sign:focus {
    border-color: #0065FC;
}

fieldset {
    border: none;
    font-weight: bold;
}
.search {
    border: #f2f2f2 solid 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 350px;
    min-height: 2.5rem;
    max-height: 2.5rem;
}
.search__input {
    display: flex;
    align-items: center;
    width: 100%;
}
.search__input:nth-child(2) {
    width: 100%;
}
.search__input label {
    background: #f2f2f2;
    border: #f2f2f2 solid 2px;
    border-radius: 15px 0 0 15px;
    position: relative;
    left: -2px;
    height: 2.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 0.7rem;
}
.search__btn {
    background: #0065FC;
    color: #ffffff;
    border: #0065FC solid 2px;
    border-radius: 0 15px 15px 0;
    font-weight: normal;
    height: 2.5rem;
    min-width: 2.5rem;
    position: relative;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    display: flex;
    flex-wrap: wrap;
}
.select p {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}
.filter {
    display: flex;
    align-items: center;
    border: #d9d9d9 solid 2px;
    border-radius: 30px;
    outline-offset: 2px;
    width: fit-content;
    min-height: 2.5rem;
    max-height: 2.5rem;
    margin: 0.3rem 0;
}
.filter__ico {
    background: #DEEBFF;
    border: #DEEBFF solid 2px;
    border-radius: 100%;
    color: #0065FC;
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    position: relative;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter__text {
    padding: 0.7rem;
}
.info {
    display: flex;
    font-weight: normal;
}

/* Corps */
.pop, .hotel {
    background: #f2f2f2;
    border-radius: 15px;
    padding: 1rem;
}
.pop article, .hotel article {
    background: #ffffff;
    border-radius: 15px;
    margin: 0.7rem 0;
    padding: 0.3rem;
    box-shadow: #d9d9d9 1px 1px 8px, #d9d9d9 1px 1px 8px;
}
.pop__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pop article {
    height: 8rem;
}
.pop a {
    display: flex;
}
.pop .art__img {
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    min-width: 8rem;
    max-width: 8rem;
    height: 8rem;
}
.pop .art__img img {
    height: 8.5rem;
}
.coment {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.coment * {
    margin: 0;
    padding: 0.3rem 0;
    width: 100%;
}
.coment .prix {
    font-size: 0.85rem;
    height: 100%;
}

.hotel .art__img, .wado .art__img {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel .art__img img {
    width: 100%;
}
.plus {
    font-size: 1.1rem;
    font-weight: bold;
}

.wado {
    padding: 1rem;
}
.wado article {
    background: #ffffff;
    border-radius: 15px;
    margin: 0.7rem 0;
    box-shadow: #f2f2f2 1px 1px 8px, #f2f2f2 1px 1px 8px;
}
.wado .art__img img {
    width: 100%;
}
.wado h4 {
    margin: 0;
    padding: 1rem;
}

footer {
    background: #f2f2f2;
    padding-bottom: 2rem;
}
footer > div {
    display: flex;
    flex-direction: column;
}
footer h4 {
    margin: 2rem 0 0.5rem 0;
}
footer a {
    padding: 0;
    padding-top: 0.7rem;
    font-size: 0.9rem;
}


@media (min-width: 480px) {
    .mob {
        display: none;
    }
    .nav div {
        padding-top: 2rem;
        border-top: #f2f2f2 solid 2px;
    }
    .select {
        margin-top: 1rem;
    }
    .filter {
        margin-right: 1rem;
    }
    .search__btn {
        padding: 0 2rem;
    }
    .main {
        display: flex;
        flex-direction: row-reverse;
    }
    .info {
        margin-bottom: 1rem;
    }

    .pop {
        padding: 15rem;
        margin-left: 2rem;
        min-width: 25%;
    }
    .pop article {
        margin: 15rem 0;
    }
    .pop h3 {
        margin-bottom: 0;
    }
    .hotel{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
        height: 35.5rem;
    }
    .hotel h3, .hotel .plus {
        width: 100%;
        margin: 1rem;
    }
    .hotel article {
        width: 30%;
        height: fit-content;
        min-width: 12rem;
        flex: 1;
        margin: 1rem;
    }
    .hotel .art__img {
        height: 6.5rem;
    }
}

@media (max-width: 480px) {
    .desk {
        display: none;
    }

    .mob {
        margin: 0;
    }
    .nav {
        flex-direction: row;
    }
    .nav div {
        border-bottom: #f2f2f2 solid 2px;
        width: 100%;
        padding-top: 1rem;
    }
    .sign {
        border-top: none;
    }

    .search {
        margin: 1rem auto;
    }
    .search__btn {
        border-radius: 15px;
    }

    .select {
        margin-top: 0;
    }
    .select p {
        width: 100%;
    }
    
    .filter {
        margin-right: 0.5rem;
    }

    .main {
        margin: 1rem 0;
    }
    .pop {
        border-radius: 0 0 0 0;
    }
    .hotel {
        background: #ffffff;
    }
    .hotel article {
        box-shadow: #f2f2f2 1px 1px 8px, #f2f2f2 1px 1px 8px;
    }
    .plus {
        padding-top: 1rem;
    }
    .wado {
        margin: 0;
    }
}