* {
    font-family: 'Raleway', sans-serif;
}
html {
    width: 100%;
}
body {
    margin: 0;
}
header > *, footer > *, body > section > * {
    padding: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
h3 {
    font-size: 1.5rem;
}

/* Header */
.ontop {
display: flex;
}
.logo{
    width: 100%;
    margin: 0;
    padding-top: 1rem;
}
.nav {
    display: flex;
    flex-direction: row;
}
.nav div {
    padding: 1rem;
    text-align: center;
    border-bottom: #f2f2f2 solid 2px;
    width: 100%;
}
.nav div:hover {
    color: #0065FC;
    border-color: #0065FC;
}
.sign, .sign a:visited {
    width: fit-content;
    padding: 1rem;
    padding-top: 2rem;
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}
.sign:hover, .sign:focus {
    border-color: #0065FC;
}

fieldset {
    border: none;
    font-weight: bold;
}
.search {
    border: #f2f2f2 solid 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    max-width: 350px;
    min-height: 2.5rem;
    max-height: 2.5rem;
    margin: 1rem auto;
}
.search__input {
    display: flex;
    align-items: center;
    width: 100%;
}
.search__input:nth-child(2) {
    width: 100%;
}
.search__input label {
    background: #f2f2f2;
    border: #f2f2f2 solid 2px;
    border-radius: 15px 0 0 15px;
    position: relative;
    left: -2px;
    height: 2.5rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search__input input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 0.7rem;
}
.search__btn {
    background: #0065FC;
    color: #ffffff;
    border: #0065FC solid 2px;
    border-radius: 15px;
    font-weight: normal;
    height: 2.5rem;
    min-width: 2.5rem;
    position: relative;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
.select p {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    width: 100%;
}
.filter {
    display: flex;
    align-items: center;
    border: #d9d9d9 solid 2px;
    border-radius: 30px;
    outline-offset: 2px;
    width: fit-content;
    min-height: 2.5rem;
    max-height: 2.5rem;
    margin: 0.3rem 0;
    margin-right: 0.5rem;
}
.filter:hover {
    background: #DEEBFF ;
}
.filter:hover .filter__ico {
    border-color: #d9d9d9;
}
.filter__ico {
    background: #DEEBFF;
    border: #DEEBFF solid 2px;
    border-radius: 100%;
    color: #0065FC;
    min-width: 2.5rem;
    max-width: 2.5rem;
    min-height: 2.5rem;
    max-height: 2.5rem;
    position: relative;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.filter__text {
    padding: 0.7rem;
}
.info {
    display: flex;
    font-weight: normal;
    font-size: 0.9rem;
}
.info > div {
    color: #0065FC;
    margin: auto 1rem auto 0;
    border: #d9d9d9 solid 1px;
    border-radius: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Corps */
.main {
    margin: 1rem 0;
}
.pop {
    background: #f2f2f2;
    padding: 1rem;
}
.pop article {
    background: #ffffff;
    border-radius: 15px;
    margin: 0.7rem 0;
    padding: 0.3rem;
    box-shadow: #d9d9d9 1px 1px 8px, #d9d9d9 1px 1px 8px;
}
.pop__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pop article {
    height: 8rem;
}
.pop a {
    display: flex;
}
.pop .art__img {
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    min-width: 8rem;
    max-width: 8rem;
    height: 8rem;
}
.pop .art__img img {
    height: 8.5rem;
}
.coment {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
.coment * {
    margin: 0;
    padding: 0.3rem 0;
    width: 100%;
}
.coment .prix {
    font-size: 0.8rem;
    height: 100%;
}
.stars {
    color: #0065FC;
    width: min-content;
    display: flex;
    font-size: 0.8rem;
}
.stars .dommage {
    color: #d9d9d9;
}

.hotel {
    background: #ffffff;
    border-radius: 15px;
    padding: 1rem;
}
.hotel article {
    background: #ffffff;
    border-radius: 15px;
    margin: 0.7rem 0;
    padding: 0.3rem;
    box-shadow: #f2f2f2 1px 1px 8px, #f2f2f2 1px 1px 8px;
}
.hotel .art__img {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hotel .art__img img {
    width: 100%;
}
.plus {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 1rem;
}

.wado {
    margin: 0;
    padding: 1rem;
}
.wado__loc article {
    background: #ffffff;
    border-radius: 15px;
    margin: 0.7rem 0;
    box-shadow: #f2f2f2 1px 1px 8px, #f2f2f2 1px 1px 8px;
}
.wado__loc .art__img {
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wado__loc .art__img img {
    width: 100%;
}
.wado__loc h4 {
    margin: 0;
    padding: 1rem;
}

footer {
    background: #f2f2f2;
    padding-bottom: 2rem;
}
footer > div {
    display: flex;
    flex-direction: column;
}
footer h4 {
    margin: 2rem 0 0.5rem 0;
}
footer a {
    padding: 0;
    padding-top: 0.7rem;
    font-size: 0.9rem;
}

.desk {
    display: none;
}
.mob {
    margin: 0;
}




@media (min-width: 480px) {
    .hotel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .hotel h3, .plus {
        width: 100%;
        margin: 1rem 0;
    }
    .hotel article {
        max-width: 45%;
        height: fit-content;
        min-width: 12rem;
    }    
    .wado h3 {
        width: 100%;
    }
    .wado__loc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wado__loc > div {
        display: flex;
        justify-content: space-between;
    }
    .space {
        width: 2rem;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .pop .art__img {
        max-width: 40%;
        display: flex;
        align-items: center;
    }
    .pop .art__img img {
        height: unset;
        width: 120%;
    }
}

@media (min-width: 768px) {
    .desk {
        display: unset;
    }
    .mob {
        display: none;
    }
    header > *, footer > *, body > section > * {
        padding: 0;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .nav div {
        padding-top: 2rem;
        border-top: #f2f2f2 solid 2px;
        border-bottom: none;
    }
    .sign, .sign a:visited {
        border-top: #f2f2f2 solid 2px;
    }
    .select {
        margin-top: 1rem;
    }
    .filter {
        margin-right: 1rem;
    }
    .search {
        margin: 0;
    }
    .search__btn {
        border-radius: 0 15px 15px 0;
        padding: 0 2rem;
    }
    .main {
        margin: 2rem;
    }
    .pop {
        border-radius: 15px;
    }
    .pop__title {
        width: 100%;
    }
    .hotel {
        background: #f2f2f2;
    }
    .hotel article {
        box-shadow: #d9d9d9 1px 1px 8px, #d9d9d9 1px 1px 8px;
    }
    footer {
        display: flex;
    }
    footer > div {
        width: 30%;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .pop {
        padding: 1.5rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pop article {
        min-width: 35%;
        max-width: 45%;
        margin: 1rem 0;
        flex: 1;
    }
    .wado {
        margin: 1rem;
    }
    .wado__loc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wado__loc > :nth-child(odd) {
        max-width: 30%;
    }
    .wado__loc > :nth-child(even) {
        min-width: 50%;
        flex: 1;
        margin-left: 1rem;
    }
}


@media (min-width: 1200px) {
    .select p {
        width: auto
    }
    .main {
        display: flex;
        flex-direction: row-reverse;
    }
    .info {
        margin-bottom: 1rem;
    }
    .pop {
        padding: 1rem 1.5rem;
        margin-left: 2rem;
        min-width: 25%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    .pop__title h3 {
        margin: 1.5rem 0;
    }
    .pop__title > div {
        margin-right: 0.5rem;
    }
    .pop article {
        margin: 1rem 0.5rem;
    }
    
    .hotel h3, .plus {
        margin: 1.5rem 1rem;
    }
    .hotel article {
        width: 30%;
        flex: 1;
        margin: 1rem;
    }
    .hotel .art__img {
        height: 6.5rem;
    }
    .plus {
        padding-top: 0;
    }
    .wado {
        margin: 1rem;
    }
    .wado__loc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .wado__loc > div {
        width: 23%;
        height: 30rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .wado__loc a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .wado__loc > :nth-child(odd) .art__img {
        height: 100%;
    }
    .wado__loc > :nth-child(4) .art__img {
        max-height: 10rem;
    }
    .wado__loc > :nth-child(even) .art__img img {
        width: 100%;
    }
    .wado__loc article {
        height: 100%;
        margin: 0;
    }
    .wado__loc .art__img img {
        width: auto;
    }
    .wado__loc .big {
        min-height: 60%;
    }
    .wado__loc .thin {
        max-height: 30%;
    }
    .wado__loc .art__img {
        height: 100%;
    }
    .space {
        min-height: 2rem;
    }
    footer {
        margin-top: 2rem;
    }
}